<h5>xlsx-importar works!</h5>
<p>
    https://medium.com/nerd-for-tech/import-and-export-data-in-csv-in-angular-3c004f502d39
</p>



<!-- 
  -->
  
  <hr>
  <p>
    https://code.tutsplus.com/how-to-upload-and-download-csv-files-with-angularjs--cms-31489t
  </p>
  
<button (click)="fileUpload.click()"> Import from csv</button> 
<input #fileUpload [accept]="'.csv'" type="file" class="file-input" (change)="importDataFromCSVByType($event)" hidden="true">
<!-- 
<hr>

-->

<hr><hr>
<div>data from csv</div>
<div *ngFor="let item of importedData"> {{item}} - {{item.record_id}}</div>
<hr>
<p>imported.length >> {{imported.length}}</p>
<p>importedData.length >> {{importedData.length}}</p>

<hr>
<hr>
<p>importedData >> {{importedData|json}}</p>